*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d7e7eb;
}
header{
    width: 100%;
    height: 65px;
    background-color: #9b59b6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #ecf0f1;
}
.logotip{
    width: 960px;
    margin: auto;
}
.logo{
    height: 60px;
    float: left;
    border-radius: 100px;
}
.name{
    margin-top: 15px;
    float: left;
}
h2{
    text-align: center;
}
.Oformlenie{
    width: 960px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.Oformlenie :last-child{
    margin-bottom: 10px;
}
nav{
    height: 40px;
}
nav>a{
    float: left;
    width: 33%;
    margin-top: 7px;
    text-align: center;
}
a{
    text-decoration: none;
}
#hyperlinks{
    list-style-position: inside;
}
table{
    border: 4px double black;
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color:#9b59b6; 
}
tr:nth-child(even){
    background-color: #3498db; 
}
footer{
    width: 100%;
    height: 60px;
    background-color: #9b59b6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
footer p{
    color: white;
    padding-top: 20px;
}
a:hover{
    color: #1ed306;
}
